.heart img{
    display: block;
    width: 300px;
    height: 300px;
    margin:100px auto 0;
    -webkit-animation: pound 0.3s infinite;
            animation: pound 0.3s infinite;
}
.heart{
    position: relative;

}
.heart .heart-text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-left: -124px;
    margin-top: -10px;
    -webkit-animation: pound 0.3s infinite;
    animation: pound 0.3s infinite;
}
@-webkit-keyframes pound {
    from{
        fransform: none;
    }
    to{
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }
}
@keyframes pound {
    from{
        fransform: none;
    }
    to{
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }
}