<header>
    <div class="inner">
        <h1>diy1818</h1>
        <h2>
            my blog
            <small>
                <a href="http://www.diy1818.com" target="_blank">
                    diy1818
                </a>
            </small>
        </h2>
        <a href="https://github.com/anryzhang/myBlog" class="button"><small>View project on</small>GitHub</a>
    </div>
</header>
<!--菜单-->
<nav class="nav" id="violet-nav">
    <ul class="nav-list">
        <li class="nav-item nav-item-active">
            <a href="http://anryzhang.github.io/myBlog/" target="_blank">
                首页
            </a>
        </li>

        <li class="nav-item ">
            <a href="https://github.com/anryzhang/myBlog" target="_blank">
                博客源代码
            </a>
        </li>
    </ul>
</nav>