/**
 * Created by ziyu on 2016/1/21.
 */
@charset "UTF-8";
@import "config.scss";

body{
  margin: 0;
  padding: 0;
  font-size:$f12;
  text-align:center;
  background: #000;
}
p{
  margin: 0;
  padding:0;

}