<header class="site_header">
  <h1>
    管理后台
  </h1>
</header>
<section class="nav_box">
  <ul>
    <li><a href="/admin/blog">新闻管理</a></li>
  </ul>
  <div class="nav_right">
    <span class="J_loginOut login_out">退出登录</span>
  </div>
</section>
