<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title><%= title%></title>
    <% if (env=='production'){%>
    <link rel="stylesheet" href="/admin_index.build.css" />
    <%}%>
    <% include ./../common/common_js.ejs%>
</head>
<body>

登录成功
<span class="J_loginOut login_out">退出登录</span>


<script src="/admin_index.build.js"></script>

<%if(env !== 'production' && reload === true){%>
<script src="/reload/reload.js"></script>
<%}%>
</body>
</html>