<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title><%= title%></title>

    <% include ./../common/common_js.ejs%>

    <% if (env=='production'){%>
    <link rel="stylesheet" href="/admin_index.build.css" />
    <%}%>

</head>
<body>
<div class="layout">
    <% include ./../common/admin_logined_nav.ejs%>
    登录成功

</div>





<script src="/admin_index.build.js"></script>

<% include ./../common/admin_common_footer.ejs%>

</body>
</html>