<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title%></title>
    <% if (env=='production'){%>
    <link rel="stylesheet" href="/admin_index/login.css">
    <%}%>
</head>
<body>
<%= title%>


<script src="admin_index/bundle.js"></script>

<%if(env !== 'production' && reload === true){%>
<script src="/reload/reload.js"></script>
<%}%>
</body>
</html>