<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <% include common/header.ejs%>

    <link rel="stylesheet" href="/admin.build.css">
</head>
<body>
<section class="login_box">
    <h2><%= title%></h2>
    <div class="login_bd">

    </div>
</section>

<script src="/admin.build.js"></script>

</body>
</html>