<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title><%= title%></title>

    <% include ./../common/common_js.ejs%>

    <% if (env=='production'){%>
    <link rel="stylesheet" href="/admin_login.build.css" />
    <%}%>

</head>
<body>

<div class="J_loginBox login_box">
    <div class="item_label">
        用户名: <input type="text" class="J_name" >
    </div>
    <div class="item_label">
        密&nbsp;&nbsp; 码: <input type="password" class="J_password">
    </div>
    <div class="item_label">
        <input type="button" value="提交" class="J_loginBtn">
    </div>
</div>

<script src="/admin_login.build.js"></script>

<% include ./../common/admin_common_footer.ejs%>
</body>
</html>