body {
    background: #fff;
    font-size: 14px;
}

.test{
    width: 100px;
    height: 100px;
    background: url('./common_image.png');
}

.layout{
    width: 1020px;
    margin: 0 auto;

}

.site_header{
    border-bottom:2px solid #000;
    margin-bottom: 15px;
    h1{
        font-size: 28px;
        padding:10px 0;
        margin: 0;
    }
}

.login_out{
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius:3px;
}

