body {
    background: #fff;
    font-size: 14px;
}

.test{
    width: 100px;
    height: 100px;
    background: url('./common_image.png');
}

.login_out{
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius:3px;
}

