* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  width: 5.7rem;
  height: 2.45rem;
  font-size: 0.3rem;
  float: left;
  border: 1px solid #333;
  background: #ccc;
  margin: 0.25rem;
  padding: 0rem;
}
.img {
  width: 9.375rem;
}
.img img {
  width: 100%;
}
