---
layout: default
---
<div id="content">
    <div class="posttop">
        <h1 class="posttitle">
            {{ page.title }}
        </h1>
    </div>
    <div class="meta">
        Posted
        <div class="text" datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date:"%Y-%m-%d" }}</div>  |
        {% if page.author != null %}
        By {{ page.author }}
        {% else %}
        By 熊猫人
        {% endif %}
        {% if page.tags%}
        <div class="tag">
            {% for tag in page.tags%}
            <a href="{{ site.url }}/tags/#{{tag}}" class="text" title="{{ tag }}" rel="category tag">{{ tag}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="postcontent-entry">
        <div class="cleared"></div>
        {{ content }}


    </div>
</div>


