---
layout: default
---
<div id="content">
    <div class="posttop">
        <h1 class="posttitle">
            {{ page.title }}
        </h1>
    </div>
    <div class="meta">
        Posted
        <div class="text" datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date:"%Y-%m-%d" }}</div>  |
        {% if page.author != null %}
        By {{ page.author }}
        {% else %}
        By 熊猫人
        {% endif %}
        {% if page.tags%}
        <div class="tag">
            {% for tag in page.tags%}
            <a href="{{ site.url }}/tags/#{{tag}}" class="text" title="{{ tag }}" rel="category tag">{{ tag}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="postcontent-entry">
        <div class="cleared"></div>
        {{ content }}
    </div>
</div>

<!--评论-->
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'anryzhang.github.io/myBlog'; // 注意，这里的 example 要替换为你自己的短域名
    /* * * 下面这些不需要改动 * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
