<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <% if(env === 'production'){ %>
    <link rel="stylesheet" href="/web_index.build.css">
    <% } %>
    <% include ./../common/common_js.ejs %>
</head>
<body>
<%= title %><br>
<%= env %>
<br>
<%= reload %>
<script src="web_index.build.js"></script>
<% if (env !== "production" && reload === true) { %>
<script src="/reload/reload.js"></script>
<% } %>
</body>
</html>